$background: #ffffff;
$foreground: #171717;
$gray-rgb: #000;
$gray-alpha-200: rgba($gray-rgb, 0.08);
$gray-alpha-100: rgba($gray-rgb, 0.05);
$button-primary-hover: #383838;
$button-secondary-hover: #f2f2f2;
