:root {
  --background: #ffffff;
  --foreground: #171717;

  --gray-rgb: #000;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  @media (prefers-color-scheme: dark) {
    --background: #0a0a0a;
    --foreground: #ededed;

    --gray-rgb: #fff;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}
