.board {
	background: #f5deb3;
	padding: 16px;

	&__inner {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-template-rows: repeat(9, 1fr);
		border: 1px solid #5c452b;
	}

	&__space {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border: 1px solid #5c452b;
	}
}

.piece {
	width: 40px;
	height: 40px;
	color: #000;
	background-color: #d2b48c;
	font-size: 20px;
	line-height: 40px;
	text-align: center;

	&--second {
		transform: rotate(180deg);
	}
}
