.container {
	display: grid;
	grid-template-columns: 1fr 120px;
	height: 500px;
	column-gap: 10px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 1px;
	background-color: #ccc;
	width: 120px;
	overflow-y: scroll;
}

.item {
	list-style: none;
	color: #111;
	background-color: #f4f4f4;
	&--selected {
		background-color: #ccc;
	}
	&:hover {
		background-color: #ddd;
	}

	button {
		display: grid;
		grid-template-columns: 25px 1fr;
		width: 100%;
		color: inherit;
		background-color: transparent;
		border: none;
		cursor: pointer;
		padding: 0;
		margin: 0;
	}

	&__index {
		text-align: right;
		align-content: center;
	}
}
