.container {
	display: flex;
	height: 500px;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	column-gap: 10px;
}

.list {
	background-color: #f0f0f0;
	width: 100px;
	overflow-y: auto;
}

.item {
	list-style: none;

	button {
		width: 100%;
		color: #111;
		background-color: transparent;
		border: none;
		cursor: pointer;
		padding: 0;
		margin: 0;
		line-height: 1;
	}
}
